.cart-dis-con{
    /* align-items: center; */
    margin: 30px ;
    margin-left: 380px;
    
}

.cart-dis h1{
/* width: 40%;
height: 60%; */
margin-top: 80px;
margin-left: 240px;
font-weight: 600;
font-size: 60px;

}
.cart-dis #cartItems{
    font-size: 25px;
    font-weight: 600;
    
    /* width: 80%;
    height: 100%; */
}

.cart-dis button{
    background-color: #ff8800;
    border-radius: 20px;
    font-size: 20px;
    width: 30%;
    padding:20px 20px;
    font-weight: 600;
    color: white;
    margin-left: 195px;
    border:none;
    margin-bottom: 20px;
}

@media only screen and (min-width: 400px) and (max-width: 600px) {
    .cart-dis-con {
        margin: 20px;
        margin-left: auto;
        margin-right: auto;
    }

    .cart-dis h1 {
        margin-top: 80px;
        margin-left: 0;
        margin-right: 30px;
        font-size: 40px;
        text-align: center;
        font-size: 50px;
    }

    .cart-dis #cartItems {
        font-size: 50px;
        width: 100%;
        text-align: center;
    }

    .cart-dis button {
        width: 80%;
        margin-left: 10%;
        padding: 15px 20px;
        font-size: 18px;
    }
}
